<h1>Welcome!</h1>
<p>Congratulations, you have successfully deployed a Mobingi stack!</p>
<p>The server deployed is: <%= request.env['SERVER_SOFTWARE'] %></p>

<p>In order to deploy your website, simply head down to the console under the Code tab!</p>